{% extends 'admin/adminindex.html' %}
{%  block contentarea %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    
  var s= $(this).val();
  var k=s.split('-');
  if(k[0]=='delete')
  {

  c=confirm('Are you sure you want to delete this record')
  if(c)
  {

$.get("deletevehiclerecord",
  {
    uid:k[1] 
  },
  function(data, status){
    location.reload();
    alert('Record is deleted');
  });
  }
  }

/**************************************View  section------------------------------*/
if(k[0]=='view')
  {


$.get("viewvehiclerecord",
  {
    uid:k[1] 
  },
  function(data, status){
    

    $('#result').html(data);

  });
  
  }



/**************************************edit section------------------------------*/

if(k[0]=='edit')
  {


$.get("editvehiclerecord",
  {
    uid:k[1] 
  },
  function(data, status){
    

    $('#result').html(data);

  });
  
  }




  });
});
</script>
</head>
<body>
	{% if records %}
     <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
     	<thead>
     	<tr><th>ID</th><th>Pic</th><th>Vehicle Number</th><th>Brand Name</th><th>Model Number</th><th>Permit</th><th>License Number</th><th>Average</th><th>RC ID</th><th>Tank Capacity</th><th>Transport ID </th><th>Driver Contact Number</th><th>Email</th><th>Edit/Delete/View</th></tr>
     	{% for k in records %}
<tr><td>{{k.id}}</td><td><a href="{{k.pic}}"><img src="{{k.pic}}" style="height:50px; width: 50px;border-radius:50%;"></td><td>{{k.vehnumber}}</td><td>{{k.brand}}</td><td>{{k.modnumber}}</td><td>{{k.permitdate}}</td><td>{{k.licensen}}</td><td>{{k.averg}}</td><td>{{k.rc}}</td><td>{{k.tank}}</td><td>{{k.transp}}</td><td>{{k.dnumber}}</td><td>{{k.email}}</td>
	<td>
<button class="btn btn-success" value="edit-{{k.id}}"   data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-edit"></span>Edit</button>
<button class="btn btn-danger" value="delete-{{k.id}}">  <span class="glyphicon glyphicon-remove"></span>Delete</button>
<button class="btn btn-primary" value="view-{{k.id}}" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-search"></span>View</button>
</td></tr>

     	{%endfor %}
     
	{% endif %}
</thead>
</table>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        
        <div id='result'></div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-------------------------------------------------------------------------------------->

</body>
</html>
{% endblock %}